* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: black;
  color: #d4af37;
  font-family: Arial, sans-serif;
  padding-top: 128px;
}
header {
  padding: 20px 0px;
  background-color: black;
  border-bottom: 0.5px solid #584602;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-bar ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin-top: 20px;
}
.head li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #d4af37;
  text-align: center;
  margin-right: 50px;
}
.head li a:hover {
  color: wheat;
}
.head li a.active {
  color: wheat;
  border-bottom: 1px solid #584602;
  padding: 3px;
}
.brand h1 {
  font-size: 40px;
  letter-spacing: 2px;
  font-family: "Forum", serif;
  line-height: 0.8;
  letter-spacing: 15px;
}
.brand {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #584602;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  background: url("imgs/hey.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 20, 0.7);
  top: 0;
  left: 0;
}

/* Content */
.hero-content {
  position: absolute;
  max-width: 800px;
}

.subtitle {
  color: #c9a74d;
  letter-spacing: 3px;
  margin-bottom: 20px;
  font-size: 14px;
}

.hero h1 {
  font-size: 64px;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
  line-height: 1.2;
}

.description {
  color: #ccc;
  margin-bottom: 30px;
  font-size: 16px;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  padding: 12px 25px;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
}

.primary:hover {
  background: #b38e3a;
  color: white;
}
.primary {
  background: #c9a74d;
  color: black;
}

.secondary:hover {
  background: #555;
}
.secondary {
  border: 1px solid #555;
  color: white;
}

/* Scroll */
.scroll-down {
  position: absolute;
  bottom: 20px;
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 0.7;
}

/* ABOUT SECTION */
.about {
  background-color: #0b0f14;
  color: white;
  padding: 0 0 0 80px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  display: flex;
  border-bottom: 1px solid #917937a8;
}

/* CONTAINER */
.container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
}

/* LEFT TEXT */
.about-text {
  width: 38%;
  display: flex;
  flex-direction: column;
  padding: 60px 0;
}

.about-subtitle {
  color: #c9a74d;
  letter-spacing: 3px;
  font-size: 14px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.about-subtitle::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: rgba(201, 167, 77, 0.7);
  display: inline-block;
}

.title {
  font-size: 48px;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
  line-height: 1.2;
}

.title span {
  color: #c9a74d;
  font-style: italic;
}

.about-description {
  color: #aab2c0;
  margin-bottom: 15px;
  line-height: 1.8;
  max-width: 100%;
}

/* STATS */
.stats {
  display: flex;
  gap: 90px;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid rgba(201, 167, 77, 0.3);
}

.stat h3 {
  font-size: 28px;
  color: inherit;
  font-family: "Playfair Display", serif;
  font-style: italic;
}

.stat p {
  color: #888;
  font-size: 12px;
  letter-spacing: 1px;
}

/* RIGHT IMAGE */
.about-image {
  width: 50%;
  max-width: 50%;
  display: flex;
  flex-shrink: 0;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(0.9);
  border-radius: 16px 0 0 16px;
}

/* tickets section */
.tickets {
  background-color: #0b0f14;
  color: #fff;
  padding: 80px;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid #917937a8;
}

/* HEADER */
.tickets-header {
  text-align: center;
  margin-bottom: 50px;
}

.tickets-subtitle {
  color: #d4af37;
  letter-spacing: 2px;
  font-size: 12px;
  margin-bottom: 10px;
}

.tickets-header h1 {
  font-size: 48px;
  margin-bottom: 15px;
  font-family: "Playfair Display", serif;
}

.tickets-header .desc {
  color: #aaa;
  max-width: 600px;
  margin: auto;
  font-size: 14px;
}

/* TABLE */
.tickets-table {
  border: 1px solid #1c222b;
  border-radius: 6px;
  overflow: hidden;
}

/* HEAD */
.table-head {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 20px;
  background-color: #0e141b;
  color: #888;
  font-size: 13px;
  text-transform: uppercase;
}

/* ROW */
.table-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 25px 20px;
  border-top: 1px solid #1c222b;
  align-items: center;
}

.category h3 {
  margin: 0;
  font-size: 18px;
}

.category p {
  margin: 5px 0 0;
  color: #888;
  font-size: 13px;
}

/* GOLD HIGHLIGHT */
.highlight {
  color: #d4af37;
  font-weight: bold;
}

/* FOOTER */
.tickets-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

/* HOURS */
.hours-title h4 {
  margin-bottom: 10px;
}

.hours-title p {
  color: #aaa;
  font-size: 14px;
}

/* BUTTON */
.tickets-btn {
  background-color: #d4af37;
  color: #000;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s;
}

.tickets-btn:hover {
  background-color: #b8962e;
}

/* HALLS */
.museum-map {
  padding: 60px 40px;
  background-color: #0b0f14;
}

.map-container {
  max-width: 1200px;
  margin: auto;
  display: block;
}

/* HEADER */
.header {
  margin-bottom: 30px;
}

.small-title {
  color: #c9a74d;
  letter-spacing: 3px;
  font-size: 14px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.tit {
  font-size: 48px;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
  line-height: 1.2;
  color: #aaa;
}

.tit span {
  color: #c9a74d;
  font-style: italic;
}

.small-title::before {
  content: "";
  width: 40px;
  height: 1px;
  background-color: rgba(201, 167, 77, 0.7);
  display: inline-block;
}

h1 {
  font-size: 56px;
  margin: 10px 0;
}

.desc-map {
  color: #aaa;
  max-width: 600px;
}

.line {
  width: 100%;
  background: gold;
  margin: 30px 0;
}

.line.small {
  height: 1px;
  width: 40%;
  margin: 20px auto;
}

.line.big {
  height: 1px;
  width: 40%;
  margin: 20px auto;
}

.floor {
  margin-bottom: 20px;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.floor-title {
  font-size: 38px;
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
  line-height: 1.2;
  color: #aaa;
}

.floor-title span {
  color: #c9a74d;
  font-style: italic;
}

/*footer*/

.footer {
  background-color: #000;
  color: #aaa;
  padding: 80px 60px;
  border-top: 1px solid #917937a8;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

/* LEFT */
.footer-left {
  max-width: 300px;
}

.logo {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}

.logo span {
  color: #c9a74d;
}

.footer-left p {
  line-height: 1.6;
  font-size: 14px;
}



/* SECTIONS */
.footer-section h3 {
  color: white;
  margin-bottom: 20px;
}

.discover-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 40px;
  list-style: none;
  padding: 0;
}

.discover-grid li a {
  text-decoration: none;
  color: #aaa;
  font-size: 14px;
  transition: 0.3s;
}

.discover-grid li a:hover {
  color: #d4af37;
}

.footer-section p {
  font-size: 14px;
  margin-bottom: 15px;
}

/* NEWSLETTER */
.footer-section input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #333;
  color: white;
  margin-bottom: 15px;
}

.footer-section button {
  background: none;
  border: none;
  color: #d4af37;
  cursor: pointer;
  font-weight: bold;
}

/* LINE */
.footer-line {
  margin-top: 50px;
  height: 1px;
  background-color: #222;
}

/*SWITCH THEME*/
#theme1,
#theme2 {
  position: absolute;
  top: 15px;
  right: 60px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #d4af37;
  padding: 5px 10px;
  cursor: pointer;
}
#theme1:hover,
#theme2:hover {
  background-color: #6e5b1c;
}
#theme1 {
  color: white;
}
#theme2 {
  color: black;
}
#theme2 {
  display: none;
}
body.white .head li a.active,
body.white .head li a:hover {
  color: rgb(102, 71, 0);
}

body.black footer,
body.black footer * {
  color: white;
}

body.white footer,
body.white footer * {
  color: black;
}
.gold {
  color: #c9a74d !important;
}

body.black section:not(.hero) {
  background: #000;
  color: #fff;
}

body.white section:not(.hero) {
  background: #fff;
  color: #000;
}
.brand h1 {
  font-size: 40px;
  margin: 0;
}
.login {
  position: absolute;
  top: 22px;
  right: 150px;
  font-size: 20px;
  color: #d4af37;
  cursor: pointer;
}
.login:hover {
  color: #6e5b1c;
}
