* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.8s ease-in-out;
  padding-top: 120px;
}
header {
  padding: 20px 0px;
  background-color: black;
  border-bottom: 0.5px solid #584602;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-bar ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin-top: 20px;
}
.head li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #d4af37;
  text-align: center;
  margin-right: 50px;
}
.head li a:hover {
  color: wheat;
}
.head li a.active {
  color: wheat;
  border-bottom: 1px solid #584602;
  padding: 3px;
}
.brand h1 {
  font-size: 40px;
  letter-spacing: 2px;
  font-family: "Forum", serif;
  line-height: 0.8;
  letter-spacing: 15px;
}
.brand {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #584602;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  gap: 20px;
}

form {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  max-width: 500px;
  backdrop-filter: blur(8px);
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 20px;
}
.b {
  color: #d4af37;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
  color: #d4af37;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  gap: 15px;
  background: #f1ece0;
  border-radius: 8px;
  text-align: center;
  transition: 0.3s;
  border: 1px solid #eee;
  font-size: 14px;
}

input:hover {
  background: #eef3ff;
  transform: scale(1.05);
}

select:hover {
  background: #eef3ff;
  transform: scale(1.05);
}

#submit {
  margin-top: 15px;
  padding: 10px;
  background: #584602;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

#submit:hover {
  transform: translatey(-5px);
}

.features {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  width: 60%;
  margin: 30px auto;
  flex: 1.8;
  backdrop-filter: blur(8px);
}
.features:hover {
  transform: translatey(-5px);
}

.feature-item {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  background: #f1ece0;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  transition: 0.3s;
  border: 1px solid #eee;
  font-size: 13px;
}

.why {
  font-size: 18px;
  font-weight: bold;
  color: #d3b119;
}

.sidebar-card {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  padding: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  max-width: 500px;
  margin: auto;
  flex: 1;
  backdrop-filter: blur(8px);
}
.sidebar-card:hover {
  transform: translatey(-5px);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.card-icon {
  font-size: 28px;
  background: #f1f5ff;
  padding: 10px;
  border-radius: 12px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.card-subtitle {
  font-size: 13px;
  color: #777;
}

.trust-badges {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.badge {
  background: #f9fafc;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  transition: 0.3s;
  border: 1px solid #eee;
}

.badge:hover {
  background: #eef3ff;
  transform: scale(1.05);
}

.badge-num {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #0d6efd;
}

.badge-label {
  font-size: 12px;
  color: #555;
}
.info-section {
  display: flex;
  gap: 20px;
  align-items: stretch;
  justify-content: center;
  margin-top: 30px;
}

#theme1,
#theme2 {
  position: absolute;
  top: 15px;
  right: 60px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #d4af37;
  padding: 5px 10px;
  cursor: pointer;
}
#theme1:hover,
#theme2:hover {
  background-color: #6e5b1c;
}
#theme1 {
  color: white;
}
#theme2 {
  color: black;
}
#theme2 {
  display: none;
}
body.white .head li a.active,
body.white .head li a:hover {
  color: rgb(102, 71, 0);
}

/* footer */

.footer {
  background-color: #000;
  color: #aaa;
  padding: 80px 60px;
  border-top: 1px solid #917937a8;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

/* LEFT */
.footer-left {
  max-width: 300px;
}

.logo {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
  font-family: "Playfair Display", serif;
}

.logo span {
  color: #c9a74d;
}

.footer-left p {
  line-height: 1.6;
  font-size: 14px;
}

.socials {
  margin-top: 20px;
}

.socials a {
  display: inline-block;
  margin-right: 12px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

/* SECTIONS */
.footer-section h5 {
  color: white;
  margin-bottom: 20px;
  font-size: 18px;
}

.discover-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 40px;
  list-style: none;
  padding: 0;
}

.discover-grid li a {
  text-decoration: none;
  color: #aaa;
  font-size: 14px;
  transition: 0.3s;
}

.discover-grid li a:hover {
  color: #d4af37;
}

.footer-section p {
  font-size: 14px;
  margin-bottom: 15px;
}

/* NEWSLETTER */
.footer-section input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #333;
  color: white;
  margin-bottom: 15px;
}

.footer-section button {
  background: none;
  border: none;
  color: #d4af37;
  cursor: pointer;
  font-weight: bold;
}

/* LINE */
.footer-line {
  margin-top: 50px;
  height: 1px;
  background-color: #222;
}

body.white footer,
body.white footer * {
  color: black;
  background-color: white;
}
body.white .logo span {
  color: #c9a74d;
}
body.white .footer-section button {
  color: #d4af37;
}

.summary-box {
  flex: 1;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px;
  border-radius: 12px;
  top: 120px;
  width: 80%;
  margin: 20px auto;
  font-size: 14px;
}

.summary-box h3 {
  margin-bottom: 10px;
  font-size: 18px;
}
.summary-box p {
  font-size: 13px;
}
.login {
  position: absolute;
  top: 22px;
  right: 150px;
  font-size: 20px;
  color: #d4af37;
  cursor: pointer;
}
.login:hover {
  color: #6e5b1c;
}
